.single-container2
  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入を確定しますか？
      %section.buy-content--buy-item
        .buy-content-inner
          %h3.buy-item-image
            - @item.item_images.each do |item_images|
              = image_tag "#{item_images.image}", alt: "sample", height: "148px", width: "148px"
          %p.buy-item-name--bold
            = @item.name
          %form.buy-form
            %p.buy-price-ja.bold
              ="¥" + number_with_delimiter(@item.price)
              %span.item-shipping-fee.f14.bold 送料込み
            %ul.buy__accordion--not-have
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li.buy__price__row--buy-you-pay.bold
                .buy-price-cell 支払い金額
                .buy-price-cell
                  %span
                    ="¥" + number_with_delimiter(@item.price)
              -if current_user.creditcards.present?
                = link_to "購入する", pay_buy_index_path(@item.id),class: 'btn__default--btn-red bold',type: "submit", method: :post
              -else
                = link_to "クレジットカードの登録がありません", creditcards_path, type: "submit", method: :get, class: 'btn__default--btn-gray bold'
      %section.buy__content--buy-user-info
        .buy__content--inner
          %h3 配送先
          %address.buy-user-info-text
            /= "〒#{current_user.user_profile.postal_code}"
            = @prefecture
            %br/
            弘前市ケルベロス1-3
            %br/
            鈴木 彩
          %p.buy-user-info-text
          = link_to "#", target: '_blank', class: 'buy-user-info-fix' do
            %span 変更する
      %section.buy__content--buy-user-info
        .buy__content--inner
          %h3 支払い方法
          %address.buy-user-info-text
            ****************
            %br/
            12 / 21
          %figure
            = image_tag "jcb.svg", alt: "sample", height: "20px", width: "26px"
            = link_to "#", target: '_blank', class: 'buy-user-info-fix' do
              %span 変更する
  = render 'shared/second_footer'
