%article.maincontent
  .content-head
    .content-inner-form
      .field
        %p.text-content アカウントをお持ちでない方はこちら
        %a{:href => "/signup/registration"}
          .blue-button 新規会員登録
    .content-inner
      = link_to signup_sms_confirmation_path, class: "btn-fb-link" do
        .btn-fb
          %i.fab.fa-facebook
          %span
            Facebookでログイン
      = link_to signup_sms_confirmation_path, class: "btn-ggl-link" do
        .btn-ggl
          %i.fab.fa-google
          %span
            Googleでログイン
    .content-inner-form
      = form_for(resource, as: resource_name, url: user_session_path) do |f|
        .field
          .field-title.clearfix
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'field-input', placeholder: "メールアドレス"
          = f.password_field :password, autocomplete: "current-password", class: 'field-input', placeholder: "パスワード"
          = f.submit "ログイン", class: 'submit'
