= render 'shared/header'
%nav.bread-crumbs
  - breadcrumb :logout
  = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-right')} "
%main#logout-main
  = render 'shared/sidebar'
  #logout-container
    %form#logout-inner
      #logout-inner__content
        = link_to destroy_user_session_path, method: :delete, id: "logout-inner__btn",type: "submit" do
          ログアウト
  .clearfix
= render 'shared/footer'
