= render 'shared/header'
%main#personal-main
  = render partial: "shared/sidebar"
  #personal-content
    %section#personal-container
      %h2#personal-header 本人情報の登録
      %form#personal-inner
        %div
          %p
            お客さまの本人情報をご登録ください。
            %br/
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.text-right
            =link_to "本人確認書類のアップロードについて","/"
        .group-form
          %label.group-form__lbl お名前
          %p.group-form__personal-data
          = @user.user_profile.lastname + " " + @user.user_profile.firstname
        .group-form
          %label.group-form__lbl お名前カナ
          %p.group-form__personal-data
          = @user.user_profile.lastname_kana + " " + @user.user_profile.firstname_kana
        .group-form
          %label.group-form__lbl 生年月日
          %p.group-form__personal-data
          = @user.user_profile.birth_year.to_s + "/" + @user.user_profile.birth_month.to_s + "/" + @user.user_profile.birth_day.to_s
        .group-form
          %label.group-form__lbl 郵便番号
          %span.group-form--any 任意
          %input.group-form__input-data{:value => @user.user_profile.postal_code, :type => "text"}/
        .group-form
          %label.group-form__lbl 都道府県
          %span.group-form--any 任意
          %select.group-form__cmb
        .group-form
          %label.group-form__lbl 市区町村
          %span.group-form--any 任意
          %input.group-form__input-data{:value => @user.user_profile.city, :type => "text"}/
        .group-form
          %label.group-form__lbl 番地
          %span.group-form--any 任意
          %input.group-form__input-data{:value => @user.user_profile.block_number, :type => "text"}/
        .group-form
          %label.group-form__lbl 建物名
          %span.group-form--any 任意
          %input.group-form__input-data{:value => @user.user_profile.building_name, :type => "text"}/
        /%button.btn-regist{:type => "submit"} 登録する
        = link_to "登録する", "/", type: "submit", class: 'btn-regist'
        .group-form
          %p.group-form__supplement
            = link_to "本人情報の登録について", "/"
= render 'shared/sell_btn'
