.default-container
  %header
    .header.header
      .header-inner
        .inner-box
          .logo
            = link_to image_tag('header_logo.svg',{alt:"logo",width: "134", height: "36"}),root_path
          = search_form_for @search, url:  items_item_search_path, class: 'header-form' do |f|
            = f.search_field :name_cont, class: 'input-default', placeholder: "キーワードから探す"
            = button_to items_item_search_path, class: 'actions' do
              %i.fas.fa-search

        .header-nav-box
          .header-left
            .header-nav
              .search-category
                %i.fas.fa-list-ul
                = link_to "カテゴリーから探す", items_path, class: 'header-nav-root'
              .search-brand
                %i.fas.fa-tags
                = link_to "ブランドから探す", items_path, class: 'header-nav-root'

          - if user_signed_in?
            .header-right
              .header-mypage
                =link_to user_path(current_user), class: 'header-nav' do
                  .header-mypage-notice
                    %i.far.fa-bell
                    %span.header-notice お知らせ
                  .header-mypage-todo
                    %i.far.fa-check
                    %span.header-todo やることリスト
                  .header-mypage-link
                    = image_tag "profile_photo.png", class: "my-avatar"
                    %span.header-mypage
                      マイページ

          - else
            .header-right
              .header-login-nav
                .login-btn
                  = link_to "ログイン", new_user_session_path, class: 'btn-red'
                .register-btn
                  = link_to "新規会員登録", new_user_registration_path, class: 'header-signup'
