%main.single-main2
  %section.l-single-container--buy-item-container
    #sell-container
      .sell-container-inner
        %h2.l-single-head 商品の情報を入力
        = form_for @item, html: {class: "sell-form"} do |f|
          .sell-upload-box
            %h3.sell-upload-head
              出品画像
              %span.form-require 必須
            %p 最大10枚までアップロードできます
            .sell-dropbox-container.clearfix.state-image-number-10
              .sell-upload-items-container
                .sell-upload-items.have-item
                  %ul.sell-upload-files
              .sell-upload-drop-box.have-item
                = f.fields_for :item_images do |image|
                  = image.file_field :image, class: "sell-upload-drop-file image-input-form"
                %pre.visible-pc ドラッグアンドドロップ またはクリックしてファイルをアップロード
                %i.icon-camera
          .sell-content
            .form-group__name
              %label
              = f.label :name do
                商品名
                %span.form-require 必須
              %div
                = f.text_field :name, class: 'input-default-name', placeholder: "商品名（必須 40文字まで)"
            .form-group__info
              %label
              = f.label :content do
                商品の説明
                %span.form-require 必須
              = f.text_area :content, rows: '5', placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "textarea__default"
          .sell-content2
            %h3.sell-sub-head 商品の詳細
            .sell-form-box
              .form-group__category
                %label
                = f.label :category_id do
                  カテゴリー
                  %span.form-require 必須
                %div
                  .select-wrap#new-first-category
                    = f.select :category_id, Category.roots.map {|i| ["#{i.name}", i.id]}, { selected: @item.category_id, prompt: "---"}, {id: "l_category",class: 'select-default'}
                    // %i.icon-arrow-bottom
                  .select-wrap#m_category
                    // %i.icon-arrow-bottom
                  .select-wrap#s_category
                    // %i.icon-arrow-bottom
              / .form-group--form-suggest-container
              .form-group__size
                %label
                = f.label :size_id do
                  サイズ*
                  %span.form-require 必須
                  .select-wrap#size_category
                    = f.collection_select :size_id, Size.all, :id, :volume, {prompt: "---"}, class: 'select-default'
                  // %i.icon-arrow-bottom
              .form-group--form-suggest-container
              %label
                = f.label :bland_id do
                  ブランド*
                  %span.form-arbitrary 任意
                %div
                  = f.collection_select :brand_id, Brand.all, :id, :name, {prompt: "---"}, class: 'select-default'
                  / %input.input-default{placeholder: "例）シャネル", value: ""}/
                  %div
              .form-group__condition
                %label
                = f.label :item_condition do
                  商品の状態
                  %span.form-require 必須
                .select-wrap
                  = f.select :item_condition, Item.item_conditions.keys {}, {prompt: "---"}, {class: 'select-default', id: 'item_condition_form'}
                  // %i.icon-arrow-bottom
          .sell-content3
            %h3.sell-sub-head 配送について
            = link_to "https://www.mercari.com/jp/help_center/article/68/", class: "form-question" do
              ?
            .sell-form-box
              .form-group__fee
                %label
                = f.label :delivery_burden do
                  配送料の負担
                  %span.form-require 必須
                .select-wrap
                  = f.select :delivery_burden, Item.delivery_burdens.keys {}, {prompt: "---"}, {class: 'select-default', id: 'delivery_burden_form'}
                  / %i.icon-arrow-bottom
              .form-group.method
                %label
                = f.label :delivery_method do
                  配送の方法*
                  %span.form-require 必須
                .select-wrap#delivery_method
                  = f.select :delivery_method, Item.delivery_methods.keys {}, {prompt: "---"}, {class: 'select-default', id: 'delivery_method_form'}
                  / %i.icon-arrow-bottom
              .form-group
                %label
                = f.label :delivery_area_id do
                  発送元の地域
                  %span.form-require 必須
                .select-wrap
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, {class: "select-default"}
                  / %i.icon-arrow-bottom
              .form-group
                %label
                = f.label :delivery_date do
                  発送までの日数
                  %span.form-require 必須
                .select-wrap
                  = f.select :delivery_date, Item.delivery_dates.keys {}, {prompt: "---"}, {class: 'select-default', id: 'delivery_date_form'}
                  / %i.icon-arrow-bottom
          .sell-content4
            %h3.sell-sub-head 販売価格(300〜9,999,999)
            = link_to "https://www.mercari.com/jp/help_center/article/64/", class: "form-question" do
              ?
            .sell-form-box
              %ul.sell-price
                %li.form-group-price
                  = f.label :price,class: "l-left" do
                    価格
                  %span.form-require 必須
                  .l-right.sell-price-input
                    ¥
                    .sell-price-input-box
                      = f.text_field :price, placeholder: "例) 300" ,class: "input-price", id: "new-item-price"
                    / %input.input-default{placeholder: "例）300", value: "¥300"}/
                %li.clearfix
                  .l-left 販売手数料 (10%)
                  .l-right#fee -
                %li.clearfix.bold
                  .l-left 販売利益
                  .l-right#profit -
          .sell-content__sell-btn-box
            %div
              %p
                = link_to "禁止されている出品", "https://www.mercari.com/jp/help_center/getting_started/prohibited_items/"
                、
                = link_to "行為", "https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/"
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売", "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして
                = link_to "加盟店規約", "https://www.mercari.com/jp/seller_terms/"
                に同意したことになります。
            = f.submit "出品する", class: "btn-default__btn-red", id: "new-item-btn"
            / %button.btn-default.btn-red{type: "submit"}
            /   出品する
            = link_to root_path, class: 'btn-default2__btn-gray' do
              もどる
          .overlay
= render 'shared/second_footer'
