= render 'shared/second_header'
.sell-form-wrapper
  = form_for @item, html: {class: "sell-form dropzone", id: "item-dropzone"} do |f|
    %h2.sell-form__header
      商品の情報を入力
    .sell-form-container
      %label.sell-form-container__label
        出品画像
      %span.sell-form-container__require
        必須
      %p 最大10枚までアップロードできます
      = f.fields_for :item_images do |image|
        .dropzone-container.clearfix
          #preview
          .dropzone-area
            = image.label :image, class: "dropzone-box", for: "upload-image" do
              .input_area
                = image.file_field :image, multiple: true, name: 'item_images[image][]', id: "upload-image", class: "upload-image", 'data-image': 0
              %p ドラッグアンドドロップ またはクリックしてファイルをアップロード
          #preview2
          .dropzone-area2
            = image.label :image, class: "dropzone-box", for: "upload-image" do
              %p ドラッグアンドドロップ またはクリックしてファイルをアップロード
    .sell-form-container
      .form-group
        %label.form-group__label
        = f.label :name do
          商品名
          %span.form-group__require
            必須
        = f.text_field :name, {placeholder: "商品名（必須40文字まで）", class: "form-group__product-name"}
      .form-group
        %label.form-group__label
        = f.label :content do
          商品の説明
          %span.form-group__require
            必須
        = f.text_area :content, {type: "textarea", placeholder: "商品の説明(必須1,000文字以内) （色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでオススメです。", class: "form-group__product-description"}
    .sell-form-container.clearfix
      %h3.sell-form-container__sell-sub-head
        商品の詳細
      .sell-form-container__sell-form-box
        .form-group
          %label.form-group__label
          = f.label :category_id do
            カテゴリー
            %span.form-group__require
              必須
          .select-wrapper-all
            .select-wrapper#new-first-category
              = f.select :category_id, Category.roots.map {|i| ["#{i.name}", i.id]}, { selected: @item.category_id, prompt: "---"}, {class: 'select-wrapper__select', id: "l_category"}
              = fa_icon 'chevron-down', class: "select-wrapper__icon"
              .select-wrap#m_category
                = fa_icon 'chevron-down', class: "select-wrapper__icon"
              .select-wrap#s_category
                = fa_icon 'chevron-down', class: "select-wrapper__icon"
        .form-group#size
          %label.form-group__label
          = f.label :size_id do
            サイズ
            %span.form-group__require
              必須
          .select-wrapper
            = f.collection_select :size_id, Size.all, :id, :volume, {prompt: "---"}, class: "select-wrapper__select"
            = fa_icon 'chevron-down', class: "select-wrapper__icon"
        .form-group#brand
          %label.form-group__label
          = f.label :brand_id do
            ブランド
            %span.form-group__optional
              任意
          .select-wrapper
            = f.collection_select :brand_id, Brand.all, :id, :name, {prompt: "---"}, class: "select-wrapper__select"
            = fa_icon 'chevron-down', class: "select-wrapper__icon"
        .form-group
          %label.form-group__label
          = f.label :item_condition do
            商品の状態
            %span.form-group__require
              必須
          .select-wrapper
            = f.select :item_condition, Item.item_conditions.keys {}, {prompt: "---"}, {class: "select-wrapper__select"}
            = fa_icon 'chevron-down', class: "select-wrapper__icon"
    .sell-form-container.clearfix
      %h3.sell-form-container__sell-sub-head
        配送について
      = link_to "https://www.mercari.com/jp/help_center/article/68/", class: "form-question" do
        ?
      .sell-form-container__sell-form-box
        .form-group#burden
          %label.form-group__label
          = f.label :delivery_burden do
            配送料の負担
            %span.form-group__require
              必須
          .select-wrapper
            = f.select :delivery_burden, Item.delivery_burdens.keys {}, {prompt: "---"}, { class: "select-wrapper__select"}
            = fa_icon 'chevron-down', class: "select-wrapper__icon"
        .form-group#method
          %label.form-group__label
          =f.label :delivery_method do
            配送の方法
            %span.form-group__require
              必須
          .select-wrapper
            = f.select :delivery_method, Item.delivery_methods.keys {}, {prompt: "---"}, {class: 'select-wrapper__select'}
            = fa_icon 'chevron-down', class: "select-wrapper__icon"
        .form-group
          %label.form-group__label
          = f.label :prefecture_id do
            発送元の地域
            %span.form-group__require
              必須
          .select-wrapper
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, class: "select-wrapper__select"
            = fa_icon 'chevron-down', class: "select-wrapper__icon"
        .form-group
          %label.form-group__label
          = f.label :delivery_date do
            発送までの日数
            %span.form-group__require
              必須
          .select-wrapper
            = f.select :delivery_date, Item.delivery_dates.keys {}, {prompt: "---"}, { class: "select-wrapper__select"}
            = fa_icon 'chevron-down', class: "select-wrapper__icon"
    .sell-form-container.clearfix
      %h3.sell-form-container__sell-sub-head
        販売価格
      = link_to "https://www.mercari.com/jp/help_center/article/64/", class: "form-question" do
        ?
      .sell-form-container__sell-form-box
        .form-group-price.clearfix
          .form-group-price__left
            %label.form-group-price__left__label
              価格
              %span.form-group-price__left__require
                必須
          .form-group-price__right
            ¥
            = f.text_field :price, {type: "text", placeholder: "例) 300", class: "form-group-price__left__input", id: "input-price"}
        .form-group-price.clearfix
          .form-group-price__left
            販売手数料(10%)
          .form-group-price__right
            %span#fee -
        .form-group-price.clearfix
          .form-group-price__left
            販売利益
          .form-group-price__right
            %span#profit -
    .sell-form-btn-content
      %p
        = link_to "禁止されている出品", "https://www.mercari.com/jp/help_center/getting_started/prohibited_items/"
        、
        = link_to "行為", "https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/"
        を必ずご確認ください。
      %p
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        = link_to "偽ブランドの販売", "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/"
        は犯罪であり処罰される可能性があります。
      %p
        また、出品をもちまして
        =link_to "加盟店規約", "https://www.mercari.com/jp/seller_terms/"
        に同意したことになります。
      %input{type: "submit", value: "出品する", class: "sell-form-btn-content__submit"}
      %a.sell-form-btn-content__back
        もどる
= render 'shared/second_footer'
