= render 'shared/header'
%nav.bread-crumbs
  - breadcrumb :items
  = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-right')} "
/ メインここから
%section#main
  %h1#itemname
    = @item.name
  #item-main
    #item-left
      .owl-carousel.owl-loaded.owl-drag
        .owl-stage-outer
          .owl-stage
            .owl-item.active
              .owl-item-inner
                - @item.item_images.each do |item_images|
                  = image_tag "#{item_images.image}", size: "300x300", id: "main_image"
            .owl-item
              .owl-item-inner
            .owl-item
              .owl-item-inner.is-higher-width
            .owl-item
              .owl-item-inner.is-higher-width
        .owl-nav.disabred
        .owl-dots
          - @item.item_images.limit(4).each do |item_images|
            .owl-dot
              %span
              .owl-dot-inner
                = image_tag "#{item_images.image}", size: "75x75", class: "owl"
    %table#item-right
      %tbody
        %tr
          %th 出品者
          %td
            = link_to @item.user.nickname, items_path, class: "seller-name"
            %div
              .item-user-ratings
                = fa_icon 'smile', class: "smile"
                %span 888
              .item-user-ratings
                = fa_icon 'meh', class: "meh"
                %span 88
              .item-user-ratings
                = fa_icon 'frown', class: "bad"
                %span 8
        %tr
          %th カテゴリー
          %td
            %div
              = link_to @item.category.parent.parent.name,items_path
            %div
              = fa_icon 'angle-right', class: "right"
              = link_to @item.category.parent.name,items_path
            %div
              = fa_icon 'angle-right', class: "right"
              = link_to @item.category.name, items_path
        %tr
          %th ブランド
          %td
            = link_to @item.brand.name, items_path, class: "brand" if @item.brand.present?
        %tr
          %th サイズ
          %td= @item.size.volume if @item.size.present?
        %tr
          %th 商品の状態
          %td= Item.item_conditions.keys[1]
        %tr
          %th 配送料の負担
          %td= Item.delivery_burdens.keys[1]
        %tr
          %th 配送の方法
          %td= Item.delivery_methods.keys[1]
        %tr
          %th 配送元地域
          %td
            = link_to @prefecture.name, items_path
        %tr
          %th 発送日の目安
          %td= Item.delivery_dates.keys[1]
    .clear
    .item-price-box
      %span.item-price-box__price
        ="¥" + number_with_delimiter(@item.price)
      %span.item-price-box__tax (税込)
      %span.item-price-box__shippingfee
        = truncate(Item.delivery_burdens.keys[1],length: 4, omission: '')
    -unless (@item.sales_status == "sold")
      -if (current_user.id == @item.user_id)
        = link_to "商品を編集する" , edit_item_path(@item.id), class: "item-edit-btn"
        %p.or_btn or
        = link_to "商品を削除する" , buy_path(@item.id),method: :delete, class: "item-delete-btn"
      -else
        = link_to "購入画面に進む" , buy_path(@item.id), class: "item-buy-btn"
    -else
      = link_to "売り切れました" , root_path, class: "item-sold-btn"
    .description
      %p.description__inner
        =@item.content
    .item-button-container
      .item-button-left
        = button_tag "",class: "item-button-left__like" do
          %i.far.fa-heart
          %span いいね!
          %span 5
        %a
          %i.far.fa-flag
          %span 不適切な商品の報告
      .item-button-right
        %a
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
    / メインここまで
    / コメント欄ここから
.item-detail-message
  .message-container
    .message-content
      %form.message-content__form
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = text_area :comment, placeholder: 'コメントを書いてください'
        = button_tag "",class: "message-content__submit" do
          %span コメントする
    / コメント欄ここまで
    / ナビリンクここから
%ul.navi-item-link
  %li.navi-item-link__prev
    = link_to "" do
      %i.fa.fa-angle-left
      %span ポロシャツ
  %li.navi-item-link__next
    = link_to "" do
      %span スニーカー
      %i.fa.fa-angle-right
/ ナビリンクここまで
.item-social-media-box
  %ul.social-media-box
    %li
      = link_to items_path, class: "item-show-fb" do
        %i.fab.fa-facebook
    %li
      = link_to items_path, class: "item-show-tw" do
        %i.fab.fa-twitter
    %li
      = link_to items_path, class: "item-show-pin" do
        %i.fab.fa-pinterest
.items-in-user-profile
  %section.items-box-container
  - if @users_item.present?
    %h2
      = link_to "#{@item.user.nickname}さんのその他の出品"
  .item-box-content
    - @users_item.each do |item|
      %section.items-box
        = link_to item_path(item), class: "ltem-link" do
          %figure.items-box__photo
            = image_tag item.item_images.first.image, class: "items-box__photo"
        .items-box__body
          %h3.items-box__name
            = item.name
          .items-box__num
            .items-box__price
              = "¥" + number_with_delimiter(item.price)
            .items-box__font
              %i.far.fa-heart
              %span 33
          %p.items-box__tax (税込)
  %section.items-box-container
  - if @same_brand.present?
    %h2
      = link_to "#{@item.brand.name}のその他の出品"
  .item-box-content
    - @same_brand.each do |item|
      %section.items-box
        = link_to item_path(item), class: "ltem-link" do
          %figure.items-box__photo
            = image_tag item.item_images.first.image, class: "items-box__photo"
        .items-box__body
          %h3.items-box__name
            = item.name
          .items-box__num
            .items-box__price
              = "¥" + number_with_delimiter(item.price)
            .items-box__font
              %i.far.fa-heart
              %span 33
          %p.items-box__tax (税込)
= render 'shared/footer'




