%article.maincontent
  %h2.head-title
    会員情報入力
  .content-head
    .content-inner-form
      = form_tag("/signup/registration", method: "post") do
        .field
          .field-title.clearfix
            .field-label
              = label_tag(:nickname, "ニックネーム")
            .field-necessary
              %span 必須
          = text_field_tag :nickname, nil, {placeholder: '例) メルカリ太郎', class: 'field-input'}
          .field-title.clearfix
            .field-label
              = label_tag(:email, "メールアドレス")
            .field-necessary
              %span 必須
          = text_field_tag :email, nil, {placeholder: 'PC・携帯どちらでも可', class: 'field-input'}
        .field
          .field-title.clearfix
            .field-label
              = label_tag(:password, "パスワード")
            .field-necessary
              %span 必須
          = text_field_tag :password, nil, {placeholder: '6文字以上', class: 'field-input'}
          .field-title.clearfix
            .field-label
              = label_tag(:password_confirmation, "パスワード(確認)")
            .field-necessary
              %span 必須
          = text_field_tag :password_confirmation, nil, {placeholder: '6文字以上', class: 'field-input'}
        .field-text
          %h3.text-title 本人確認
          %p.text-content 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .field
          .field-title.clearfix
            .field-label
              = label_tag(:lastname, "姓(全角)")
            .field-necessary
              %span 必須
          = text_field_tag :lastname, nil, {placeholder: '例) 山田', class: 'field-input'}
          .field-title.clearfix
            .field-label
              = label_tag(:firstname, "名(全角)")
            .field-necessary
              %span 必須
          = text_field_tag :firstname, nil, {placeholder: '例)彩', class: 'field-input'}
        .field
          .field-title.clearfix
            .field-label
              = label_tag(:lastname_kana, "姓カナ(全角)")
            .field-necessary
              %span 必須
          = text_field_tag :lastname_kana, nil, {placeholder: '例) ヤマダ', class: 'field-input'}
          .field-title.clearfix
            .field-label
              = label_tag(:firstname_kana, "名カナ(全角)")
            .field-necessary
              %span 必須
          = text_field_tag :firstname_kana, nil, {placeholder: '例) アヤ', class: 'field-input'}
        .field
          .field-title
            .field-label
              = label_tag(:birth, "生年月日")
            .field-necessary
              %span 必須
          .birthday-select-wrap.clearfix
            .select-wrap
              = select_tag(:birth_year, options_for_select((1900..2019).to_a.unshift("--")), {class:'select', id: 'birth'})
              %i.fas.fa-chevron-down
              %p 年
            .select-wrap
              = select_tag(:birth_month, options_for_select((1..12).to_a.unshift("--")), {class:'select', id: 'birth'})
              %i.fas.fa-chevron-down
              %p 月
            .select-wrap
              = select_tag(:birth_day, options_for_select((1..31).to_a.unshift("--")), {class:'select', id: 'birth'})
              %i.fas.fa-chevron-down
              %p 日
        .field
          %p.text-content2 ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          %p.text-content2
            「次へ進む」のボタンを押すことにより、
            %a{:href => "/", :target => "_blank"}> 利用規約
            に同意したものとみなします

          = submit_tag('次に進む', class: 'submit')
